$generated-palette: (
	50 : #DEDEDE,
	100 : #BEBEBE,
	200 : #939393,
	300 : #676767,
	400 : #474747,
	500 : #262626,
	600 : #202020,
	700 : #1B1B1B,
	800 : #131313,
	900 : #0D0D0D,
	A100 : #414141,
	A200 : #393939,
	A400 : #313131,
	A700 : #2A2A2A,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #ffffff,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);
